* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ravi Prakash', sans-serif;
    background-color: #fff;
    color: #EAE4D1;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.block{
    background-color:#110133 ;
    border-radius: 20px;
    margin-top: 5px;
}

.title{
    font-size: 36px;
    line-height: 57px; 
    margin-top: 27px;
    margin-bottom: 30px;
    text-align: center;
}


/*header start*/
.container__header {
    background-color: #110133;
    border-radius: 20px;
}

.header__content {
    margin-top: 5px;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 48px;
    margin-bottom: 2px
}

.header p {
    font-size: 36px;
}




/*header end*/


/*section desc start*/
.descr__content{
    display: flex;
    justify-content: space-between;
}

.descr__content-text{
padding: 0 60px;
}

.descr p{
    max-width: 530px;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 100px;
}

.descr__content-contacts{
    
} 

.descr li{
    margin-bottom: 30px;
}

.descr a{
    color: #EAE4D1;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2em;
margin-left: 150px;
margin-right: 111px;
}







/*section desc end*/